.footer {
  &__logo {
    display: none;

    @include breakpoint(desktop) {
      display: inline-block;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__img {
    height: 90px;
    display: inline-block;
  }

  &__row {
    @include container();
    @include flexbox(space-between);
    flex-direction: column;
    text-align: center;

    @include breakpoint(desktop) {
      @include wrapper();
      flex-direction: row;
    }
  }

  &__top {
    background-color: $footer-clr;
    padding: 80px 0;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 22px;
    color: $white;
    font-weight: 900;
    display: block;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 1rem;
    line-height: 18px;
    color: $white;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    max-width: 510px;
    opacity: 0.7;
  }

  &__bot {
    background-color: $black;
    padding: 40px 0;
  }

  &__holder {
    @include wrapper();
    @include flexbox(space-between);
    padding: 0 10px;
  }

  &__copy {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    line-height: 18px;
    display: block;
    font-weight: 400;
    max-width: 148px;

    @include breakpoint(desktop) {
      max-width: none;
    }
  }
}

.form {
  position: relative;
  max-width: 250px;
  margin-top: 20px;

  &__inp {
    width: 100%;
    display: block;
    border: 2px solid $secondary-color;
    background-color: $primary-color;
    min-height: 40px;
    font-size: 1rem;
    line-height: 18px;
    color: $white;
    padding-right: 55px;
    padding-left: 5px;
  }

  &__btn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 36px;
    height: 36px;
    background-color: $primary-color;
    border: 0;
    color: $white;
    text-align: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__svg {
    fill: $white;
    height: 20px;
    margin: 7px 0;
  }
}

.network {
  &__item {
    display: inline-block;
    margin-right: 8px;
  }

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $primary-color;
    display: inline-block;
    text-decoration: none;
    position: relative;
  }

  &__svg {
    fill: $white;
    height: 22px;
    display: block;
    margin: 11px auto;

    &:hover {
      fill: $button-hover;
    }
  }
}