////// mobile //////
@mixin container() {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  @content;
}

////// desktop //////
@mixin wrapper() {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  @content;
}

@mixin button() {
  display: inline-block;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;
  border: 0;
  border-radius: 5%;
  background-color: $button-color;
  @content;
}

@mixin flexbox($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
  @content;
}


@mixin breakpoint($value) {
  @if $value=="phone" {
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $value=="tablet" {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $value=="desktop" {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }

  @else {
    @media only screen and (max-width: $value) {
      @content;
    }
  }
}